Checks:              '-*,cppcoreguidelines-*,-cppcoreguidelines-init-variables'
ExtraArgs:           ['-ferror-limit=1']
WarningsAsErrors:    ''
HeaderFilterRegex:   'xoz/.*'
FormatStyle:         none
InheritParentConfig: true
User:                user

